@import url(https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);

* {
  margin: 0;
  font-family: "K2D";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  /* max-width: 600px; */
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar img {
  height: 50px;
  margin-left: 100px;
}
.navbar h1 {
  color: #000000;
  margin-left: 20px
}
.navbar .links {
  margin-left: auto;
  margin-right: 100px
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #3586f1;
  transition: 0.4s;
}
.content {
  /* max-width: 600px; */
  margin: 40px auto;
  padding: 20px;
}